<!doctype html>
<html lang="ru">

{% extends 'base.html' %}

{% load static %}

{% block title %}
AskRediska123
{% endblock %}

{% block header %}
<div class="col-md-auto">
    <h2>New question</h2>
</div>
{% endblock %}

{% content %}
<div class="col-8">
    <div class="row align-items-start mx-1 mb-3">
        <div class="col-2">
            <label class="col-form-label">Title</label>
        </div>
        <div class="col-10">
            <input class="form-control">
        </div>
    </div>
    <div class="row align-items-start mx-1 mb-3">
        <div class="col-2">
            <label class="col-form-label">Text</label>
        </div>
        <div class="col-10">
            <textarea class="form-control" rows="10"></textarea>
        </div>
    </div>
    <div class="row align-items-start mx-1 mb-3">
        <div class="col-2">
            <label class="col-form-label">Tags</label>
        </div>
        <div class="col-10">
            <input class="form-control">
        </div>
    </div>
    <div class="row align-items-center mx-1 mb-3">
        <div class="col-2"></div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mt-2">Ask!</button>
        </div>
    </div>
</div>
{% endblock %}