{% load static %}

<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    {% block style %}{% endblock %}
</head>

<body>
    <div class="container my-3">
        <!-- "AskPupkin" и строка поиска одинакова для всех страниц -->
        <div class="row align-items-center">
            <div class="col-md-auto">
                <a class="navbar-brand" href={% url "new_questions" %}><h2>AskRediska123</h2></a>
            </div>
            <div class="col mx-5">
                <form class="row">
                    <div class="col">
                        <input class="form-control" placeholder="Введите вопрос">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Ask!</button>
                    </div>
                </form>
            </div>
            {% if login == True %}
            <div class="col-md-auto">
                <img src={% static "profile.png" %} class="img-fluid" style="height:40px">
            </div>
            <div class="col-md-auto ms-1">
                
                <div class="row">
                  Dr. Pepper
                </div>
                <div class="row">
                  <div class="col ps-0">
                    <a href={% url "settings" %}>settings</a>
                  </div>
                  <div class="col ps-0">
                    <a href={% url "login" %}>log out</a>
                  </div>
                </div>
            </div>
            {% else %}
            <div class="col-md-auto ms-1">
                <div class="row"></div>
                <div class="row">
                  <div class="col-md-auto ps-0">
                    <a href={% url "registration" %}>sign up</a>
                  </div>
                  <div class="col-md-auto ps-0">
                    <a href={% url "login" %}>log in</a>
                  </div>
                </div>
            </div>
            {% endif %}
        </div>
        <hr>
        <div class="row align-items-center">
            {% block header %}{% endblock %}
        </div>
        <div class="row">
            {% block content %}{% endblock %}
            <div class="col-4">
                <div class="card-body">
                    <p>
                    <h3>Popular Tags</h3>
                    </p>
                    {% for tag in question.tags.all%}
                        <a href={% url 'tagged_questions' tag %}>{{tag}}</a>
                    {%endfor%}
                </div>
                <br>
                <div class="card-body">
                    <h3>Best members</h3>
                    <ol style="list-style-type:  none">
                        <li><a href="#">Mr. Freeman</a></li>
                        <li><a href="#">Dr. House</a></li>
                        <li><a href="#">Bender</a></li>
                        <li><a href="#">Queen Victoria</a></li>
                        <li><a href="#">V. Pupkin</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</body>
</html>