<!doctype html>
<html lang="ru">

{% extends 'base.html' %}

{% load static %}

{% block title %}
AskRediska123
{% endblock %}

{% block header %}
<div class="col-md-auto">
    <h2>Log in</h2>
</div>
{% endblock %}

{% block content %}
<div class="col-6">
    {% load django_bootstrap5 %}
<form action="{% url 'login' %}?next={{ next_url }}" method="POST" class="form">
    {% csrf_token %}

    {% bootstrap_form form %}

    {% bootstrap_button button_type="submit" content="Log in!" %}
</form>
    <div class="row mx-1">
        <div class="col-5"></div>
        <div class="col-auto">
            <a href={% url "registration" %}>create new account</a>
        </div>   
    </div>
</div>
<div class="col-2"></div>
{% endblock %}
