<!doctype html>
<html lang="ru">

{% extends 'base.html' %}

{% load static %}

{% block title %}
AskRediska123
{% endblock %}

{% block content %}
<div class="col-8">
    <div class="row mb-2 ">
        <div class="col-3 d-flex flex-column">
            <img src="{{question.author.avatar.url}}" class="img-fluid rounded-start" alt="...">
            <p class="text-center">{{question.author.user.username}}</p>
            <div class="input-group mb-1 px-1">
                <button class="btn btn-outline-danger minus-button" type="button">-</button>
                <input type="text" class="form-control rating-text" value={{question.rating}} readonly>
                <button class="btn btn-outline-success plus-button" type="button">+</button>
            </div>
        </div>
        <div class="col-9 d-flex flex-column">
            <h2>{{question.title}}</h2>
            <p class="card-text mb-auto">{{question.text}}</p>
            <p class="card-text">Tags:
                {% for tag in question.tags.all %}
                <a href={% url 'tagged_questions' tag %}>{{tag}}</a>
                {%endfor%}
            </p>
        </div>
    </div>
    <hr>
    {% for element in answers_list %}
    {% include 'answer_card.html' with answer=element %}
    {% empty %}
    <div class="card my-3">
        <div class="card-body">
            <h5 class="card-title">Нет ответов</h5>
        </div>
    </div>
    {% endfor %}
    <hr>
    {% load django_bootstrap5 %}
    <form action="{% url 'question' question.id %}" method="POST" class="form">
        {% csrf_token %}
    
        {% bootstrap_form form %}
    
        {% bootstrap_button button_type="submit" content="Answer" %}
    </form>
</div>
{% endblock %}