{% load static %}

<div class="card my-3">
    <div class="row g-0">
      <div class="col-md-2 my-2 ms-2">
        <img src="{{question.author.avatar.url}}" class="img-fluid rounded-start" alt="...">
        <p class="text-center">{{question.author.user.username}}</p>
        <div class="input-group mb-1 px-1">
          <button class="btn btn-outline-danger minus-button" type="button">-</button>
          <input type="text" class="form-control rating-text" value={{question.rating}} readonly>
          <button class="btn btn-outline-success plus-button" type="button">+</button>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <a href={% url "question" question.id %}>
            <h5 class="card-title">{{question.title}}</h5>
          </a>
          <p class="card-text">{{question.text}}</p>
          <div class="row d-flex align-items-end">
            <div class="col-auto">
              <a href={% url "question" question.id %}>
                <h6 class="card-text">Answers({{question.answers_amount}})</h6>
              </a>
            </div>
            <div class="col-auto">
              <p class="card-text">Tags:
                {% for tag in question.tags.all%}
                 <a href={% url "tagged_questions" tag %}>{{tag}}</a>
                 {%endfor%}
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>