<!doctype html>
<html lang="ru">

{% extends 'base.html' %}

{% load static %}

{% block title %}
AskRediska123
{% endblock %}

{% block header %}
<div class="col-md-auto">
    <h2>Registration</h2>
</div>
{% endblock %}

{% block content %}
<div class="col-6">
    <div class="row align-items-start mx-1">
        <p class="card-body text-danger">Sorry, this email address already registered!</p>
    </div>
    <div class="row align-items-start mx-1 mb-3">
        <div class="col-5">
            <label class="col-form-label">Login</label>
        </div>
        <div class="col-7">
            <input class="form-control">
        </div>
    </div>
    <div class="row align-items-start mx-1 mb-3">
        <div class="col-5">
            <label class="col-form-label">E-mail</label>
        </div>
        <div class="col-7">
            <input class="form-control">
        </div>
    </div>
    <div class="row align-items-start mx-1 mb-3">
        <div class="col-5">
            <label class="col-form-label">Nickname</label>
        </div>
        <div class="col-7">
            <input class="form-control">
        </div>
    </div>
    <div class="row align-items-start mx-1 mb-3">
        <div class="col-5">
            <label class="col-form-label">Password</label>
        </div>
        <div class="col-7">
            <input type="password" class="form-control">
        </div>
    </div>
    <div class="row align-items-start mx-1 mb-3">
        <div class="col-5">
            <label class="col-form-label">Repeat password</label>
        </div>
        <div class="col-7">
            <input type="password" class="form-control">
        </div>
    </div>
    <div class="row align-items-start mx-1 mb-3">
        <div class="col-5">
            <label class="col-form-label">Upload avatar</label>
        </div>
        <div class="col-7">
            <div class="input-group">
                <input type="file" style="content: '';" class="form-control">
                <button class="btn btn-outline-secondary" type="button">Chose</button>
            </div>
        </div>
    </div>
    <div class="row align-items-center mx-1 mt-2">
        <div class="col-5"></div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mt-2">Register!</button>
        </div>
    </div>
</div>
<div class="col-2"></div>
{% endblock %}
  