<!doctype html>
<html lang="ru">

{% extends 'base.html' %}

{% load static %}

{% block title %}
AskRediska123
{% endblock %}

{% block header %}
<div class="col-md-auto">
    <h2>Settings: {{user.username}}</h2>
</div>
{% endblock %}

{% block content %}
<div class="col-6">
    {% load django_bootstrap5 %}
<form action="{% url 'settings' %}" method="POST" class="form" enctype="multipart/form-data">
    {% csrf_token %}

    {% bootstrap_form form %}

    {% bootstrap_button button_type="submit" content="Save" %}
</form>
</div>
<div class="col-2"></div>
{% endblock %}